HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/src/test/com/doomedcat17/scpapi/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/java/com/doomedcat17/scpier/mapper/appendix/
/src/main/java/com/doomedcat17/scpier/data/appendix/
/src/test/java/com/doomedcat17/scpier/scrapper/htmlscrappers/title/
/src/main/resources/patterns/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/test/java/com/doomedcat17/scpier/scrapper/title/
/src/main/java/com/doomedcat17/scpier/scraper/title/
!/src/main/java/com/doomedcat17/scpier/data/content/AnomBarHeader.java
